.table {
    margin-top: 20px;
    height: 775px;
    overflow-y: scroll;
    color: #6a5d5d;
}

.table th {
    font-size: 17px;
    font-weight: 600;
    color: #6c757d;
}

.table td {
    padding: 5px;
}

.table tr:nth-of-type(even) {
    background-color: #f3f2f8;
}